<a href="https://colab.research.google.com/github/shu736/Introduction-to-Pythom/blob/main/DAY1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=34
b=33
if a>b:
  print("a greater than b")
elif b>a:
  print("b greater than a")
else:
  print("a equals b")

a greater than b

In [2]:
a=input("Enter value of a:")
b=input("enter value of b:")
if a>b:
  print("a greater than b")
elif b>a:
  print("b greater than a")
else:
  print("a equals b")

Enter value of a:25
enter value of b:50
b greater than a

In [3]:
a=input("Enter value of a:")
b=input("enter value of b:")
print(type(a))
if a>b:
  print("a greater than b")
elif b>a:
  print("b greater than a")
else:
  print("a equals b")

Enter value of a:25
enter value of b:50
<class 'str'>
b greater than a

In [4]:
s="Honesty is the best policy"
s1='Be Honest'
print(s)

Honesty is the best policy

In [5]:
s="Honesty is the best policy"
s1='Be Honest'
print(s[0:4])

Hone

In [6]:
s="Honesty is the best policy"
s1='Be Honest'
print(s[0:7])

Honesty

Strings are scalar objects, they can be sub-divided. I want to add two strings

In [7]:
x=25
y=50
print(x+y)
x="Be"
y="Honest"
print(x+y)

75
BeHonest

In [8]:
x="Honesty"
print(x*5)
x=35
print(x*5)

HonestyHonestyHonestyHonestyHonesty
175

In [9]:
x="Honesty"
print(x[3:6])
print(x[-2])
print(x[3:6:2])

est
t
et

Type Conversion

In [12]:
x=56.5
print(x*5)
s=str(x)
print(s*5)
s="3"
print(int(s))

282.5
56.556.556.556.556.5
3

User Inputs

In [14]:
radius= int(input("Enter the value of x:"))
Area=("Area of the circle is :",3.14*3.14*radius*2)
print(Area)

Enter the value of x:2
('Area of the circle is :', 39.4384)

Comments in Python

In [15]:
side = float(input("Enter the value:"))   #Enter the side length. Also i am using float for type casting.
print("area of square is:",side**2)

Enter the value:2
area of square is: 4.0

LOOPS:
Write a simple code to calculate the factorial of a number.?

In [16]:
n=int(input("Enter the value: "))
fact = 1
for i in range(n):
  fact=fact*(i+1)
print("The factorial of",n,"is:",fact)

Enter the value: 4
The factorial of 4 is: 24

In [17]:
print(range(4))

range(0, 4)

Loops for strings

In [18]:
s="Honesty is best policy"
for i in s:
  print(i)

H
o
n
e
s
t
y

i
s

b
e
s
t

p
o
l
i
c
y

While Loop:

In [19]:
n= int(input("Enter the value:  "))
i = 1
fact = 1
while i <= n:
  fact = fact*i
  i= i+1
print("The factorial of",n,"is:",fact)

Enter the value:  4
The factorial of 4 is: 24

Functions in Python

In [20]:
def facto(n): #Function definition
  fact=1
  for i in range(n):
    fact = fact*(i+1)
  return fact
print("The factorial of 10 is:",facto(10))
print("The factorial of 10 is:",facto(6))

The factorial of 10 is: 3628800
The factorial of 10 is: 720

Reccursive Functions

In [23]:
def rec_facto(n):
  if n==1:
    return 1
  else:
   return n*facto(n-1)
print("The factorial of 10 is:",facto(10))
print("The factorial of 10 is:",facto(6))

The factorial of 10 is: 3628800
The factorial of 10 is: 720

Tuple

In [31]:
a= ("honesty")  #This is not a tuple
print(type(a))

<class 'str'>

In [32]:
a= ("honesty",)  #This is  a tuple
print(type(a))

<class 'tuple'>

In [37]:
a= ("honesty",1,2,5,True,None)  #This is  a tuple
print(a)
#Accessing individual Elements
print(a[0])
a[1]=3.5

('honesty', 1, 2, 5, True, None)
honesty

TypeError: ignored

In [36]:
x=25
y=20
(y,x)=(x,y)   # tuple based interchange
print(x,y)

20 25

In [38]:
a= ["honesty",1,2,5,True,None]  #This is  a tuple
print(a)
#Accessing individual Elements
print(a[0])
a[1]=3.5
print(a)

['honesty', 1, 2, 5, True, None]
honesty
['honesty', 3.5, 2, 5, True, None]

Methods for list

In [42]:
a= ["honesty",1,2,5,True,None]
print(a)
print(a.pop())

['honesty', 1, 2, 5, True, None]
None

In [43]:
print(a) #when we use pop last element will be removed from the queue.

['honesty', 1, 2, 5, True]

Sort

In [48]:
a=[50,34,121,100,45]   #for showing list in ascending/descending order and showing length. 
a.sort()
print(a)
a.reverse()
print(a)
print(len(a))
print(len("Honesty"))

[34, 45, 50, 100, 121]
[121, 100, 50, 45, 34]
5
7

How objects stored in numbering

In [49]:
colors = ["yellow","white","blue"]
new= colors
colors.append("black")
print(new)

['yellow', 'white', 'blue', 'black']

In [52]:
colors = ["yellow","white","blue"]
new= ["yellow","white","blue"]
new.append("black")
print(colors)
print(new)

['yellow', 'white', 'blue']
['yellow', 'white', 'blue', 'black']

Dictionaries

In [55]:
d = {'Hari': [1,2,3,4],'Govind':[2,3,4,5]}
print(d['Hari'])
print(d.keys())
d = {0: [1,2,3,4],1:[2,3,4,5]}
print(d[0])

[1, 2, 3, 4]
dict_keys(['Hari', 'Govind'])
[1, 2, 3, 4]

Fibonnaci Series

In [61]:
d={1:1,2:1}
def fiban(d,n):
  if n in d.keys():
    return d[n]
  else:
    d[n]=fiban(d,n-1)+fiban(d,n-2)
    return d[n]

print(fiban(d,10))
print(d)

55
{1: 1, 2: 1, 3: 2, 4: 3, 5: 5, 6: 8, 7: 13, 8: 21, 9: 34, 10: 55}